<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reviewpanda</title>
    <link rel="shortcut icon" href="/src/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/src/styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
</head>

<body>
    <nav>
        <div class="flex flex-center space-between">
            <div class="flex flex-center logo-main-container">
                <div class="logo-container-home">
                    <img src="/src/img/logo.png" alt="logo" class="logo">
                </div>
                <div>
                    <p class="logo-name">reviewpanda</p>
                </div>
            </div>
            <div class="flex">
                <input type="text" font-family="BananaGroteskRegular" class="search-bar" placeholder="Search...">
                <img width="50" height="50" src="https://img.icons8.com/ios-filled/50/ffffff/search--v1.png"
                    alt="search--v1" class="search-btn" />
            </div>
            <div class="dropdown">
                <div class="flex user-dropdown">
                    <span>chaiestrella</span>
                    <img width="30" height="30" src="https://img.icons8.com/ios-filled/30/ffffff/chevron-down.png"
                        alt="chevron-down" />
                </div>
                <div class="dropdown-content">
                    <div class="dropdown-items">
                        <a class="dropdown-link" href="/">Home</a>
                        <hr>
                        <a class="dropdown-link" href="/profile/1">Profile</a>
                        <hr>
                        <a class="dropdown-link" href="/logout">Logout</a>
                    </div>
                </div>
            </div>

        </div>
    </nav>

    <div class="gray-bg-home">
        <div class="container">
            <h1>Top Reviewed Restaurants</h1>
            <div class="restaurant-item">
                <div class="flex">
                    <div class="col-3">
                        <img src="/src/img/chowking.jpg" alt="food" class="resto-image">
                    </div>
                    <div class="col-9">
                        <div class="resto-details">
                            <a href="/resto/1"><u>Chowking</u></a>
                            <p>Chowking tantalizes taste buds with its delectable blend of Chinese and Filipino cuisine.
                                Savory favorites like their succulent Chao Fan fried rice, flavorful beef wanton
                                noodles, and mouthwatering dim sum offerings satisfy cravings for authentic Asian
                                flavors. With each bite, Chowking delivers a harmonious fusion that delights discerning
                                palates.</p>
                            <div class="additional flex">
                                <p class="review">2 Reviews</p>
                                <div class="rating">
                                    <p>4.5/5</p>
                                    <img width="30" height="30"
                                        src="https://img.icons8.com/ios-filled/30/FDDA0D/star--v1.png" alt="star--v1" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="restaurant-item">
                <div class="flex">
                    <div class="col-3">
                        <img src="/src/img/jollibee.png" alt="food" class="resto-image">
                    </div>
                    <div class="col-9">
                        <div class="resto-details">
                            <a href="/resto/2"><u>Jollibee</u></a>
                            <p>Jollibee's food delights taste buds with a fusion of Filipino flavors and international
                                influences. From their iconic Chickenjoy, boasting a crispy exterior and juicy meat, to
                                their savory Jolly Spaghetti topped with signature sweet sauce and hotdogs, each dish
                                offers a symphony of flavors that captivates both locals and global palates.</p>
                            <div class="additional flex">
                                <p class="review">2 Reviews</p>
                                <div class="rating">
                                    <p>4.5/5</p>
                                    <img width="30" height="30"
                                        src="https://img.icons8.com/ios-filled/30/FDDA0D/star--v1.png" alt="star--v1" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="restaurant-item">
                <div class="flex">
                    <div class="col-3">
                        <img src="/src/img/mang.jpg" alt="food" class="resto-image">
                    </div>
                    <div class="col-9">
                        <div class="resto-details">
                            <a href="/resto/3"><u>Mang Inasal</u></a>
                            <p>Mang Inasal's food is a celebration of Filipino flavors, grilling up deliciously juicy
                                and flavorful chicken and pork barbecues marinated in traditional local spices.
                                Complemented by unlimited rice and savory condiments like their signature chicken oil,
                                every meal is a feast that captures the essence of Filipino street food culture with
                                each mouthwatering bite.</p>
                            <div class="additional flex">
                                <p class="review">2 Reviews</p>
                                <div class="rating">
                                    <p>4.5/5</p>
                                    <img width="30" height="30"
                                        src="https://img.icons8.com/ios-filled/30/FDDA0D/star--v1.png" alt="star--v1" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="restaurant-item">
                <div class="flex">
                    <div class="col-3">
                        <img src="/src/img/tapa.png" alt="food" class="resto-image">
                    </div>
                    <div class="col-9">
                        <div class="resto-details">
                            <a href="/resto/4"><u>Tapa King</u></a>
                            <p>Tapa King reigns supreme with its mouthwatering array of Filipino comfort food, centered
                                around its iconic beef tapa. Tender, marinated beef slices are served alongside garlic
                                rice and a choice of egg, creating a hearty and satisfying meal. With each bite, Tapa
                                King delivers a taste of Filipino home-cooked goodness that keeps customers coming back
                                for more.</p>
                            <div class="additional flex">
                                <p class="review">2 Reviews</p>
                                <div class="rating">
                                    <p>4.5/5</p>
                                    <img width="30" height="30"
                                        src="https://img.icons8.com/ios-filled/30/FDDA0D/star--v1.png" alt="star--v1" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="restaurant-item">
                <div class="flex">
                    <div class="col-3">
                        <img src="/src/img/kk.png" alt="food" class="resto-image">
                    </div>
                    <div class="col-9">
                        <div class="resto-details">
                            <a href="/resto/5"><u>Krispy Kreme</u></a>
                            <p>Krispy Kreme delights doughnut enthusiasts worldwide with its iconic Original Glazed
                                doughnuts, boasting a perfect balance of lightness and sweetness. From classic flavors
                                like chocolate glazed to innovative creations like filled doughnuts and seasonal
                                varieties, each bite is a heavenly indulgence that satisfies cravings and brings joy to
                                taste buds everywhere.</p>
                            <div class="additional flex">
                                <p class="review">2 Reviews</p>
                                <div class="rating">
                                    <p>4.5/5</p>
                                    <img width="30" height="30"
                                        src="https://img.icons8.com/ios-filled/30/FDDA0D/star--v1.png" alt="star--v1" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>