<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reviewpanda</title>
    <link rel="shortcut icon" href="img/logo.png" type="image/x-icon">
    <link rel = "stylesheet" href="style.css">
</head>



<body>
    <nav>
        <div class="flex flex-center space-between">
            <div class="flex flex-center logo-main-container">
                <div class="logo-container-home">
                    <img src="img/logo.png" alt="logo" class="logo">
                </div>
                <div>
                    <p class="logo-name">reviewpanda</p>
                </div>
            </div>
            <div class="flex">
                <input type="text" font-family ="BananaGroteskRegular" class="search-bar" placeholder="Search...">
                <img width="50" height="50" src="https://img.icons8.com/ios-filled/50/ffffff/search--v1.png"
                    alt="search--v1" class="search-btn" />
            </div>
            <div class="dropdown">
                <div class="flex user-dropdown">
                    <span>chaiestrella</span>
                    <img width="30" height="30" src="https://img.icons8.com/ios-filled/30/ffffff/chevron-down.png"
                        alt="chevron-down" />
                </div>
                <div class="dropdown-content">
                    <div class="dropdown-items">
                        <a class="dropdown-link" href="home.html">Home</a>
                        <hr>
                        <a class="dropdown-link" href="profile-view-page_1.html">Profile</a>
                        <hr>
                        <a class="dropdown-link" href="login.html">Logout</a>
                    </div>
                </div>
            </div>

        </div>
    </nav>

   <div class ="body">
        <div class ="body-container">
            <div class ="user-profile">
                <div class ="flex">
                    <div class ="user-img-container">
                        <div class="user-img">
                                <img src ="user-img.jpg">
                            </div>
                            <div class="user-edit-profile">
                                <a href="sample-url.com">edit profile</a>
                            </div>
                        </div>

                        <div class="user-profile-desc">
                            <div class="username">
                                    <b>louislu</b>
                            </div>
                            <div class="description">
                                Web Design is my passion! Food is love, food is life.
                            </div>
                            
                        </div>
                </div>
            </div>

            <div class = "divider">
                <div class = "flex">
                </div>
            </div>
            
            <div class ="user-review">
                <div class="flex">
                    <div class ="user-review-container">
                        <div class ="review-title-container">
                            <div class="review-title">
                                <b>Burger Power!</b>
                            </div>

                            <div class="review-hyperlink">
                            <span>to <a href="resto-view-page_2.html"> Jollibee</a></span>
                            </div>
                        </div>

                        <div class ="review-description">
                            Jollibee's Burger Steak never disappoints! The beef patty drenched in rich mushroom gravy is pure comfort food bliss. And don't even get me started on their Peach Mango Pie – it's like a slice of heaven in every bite! Highly recommend this combo for a satisfying meal!
                        </div>

                        <div class="review-feedback-container">
                            <div class="review-feedback-text">
                                Is this review helpful?
                            </div>

                            <div class="review-feedback-buttons">
                                <img src="checkmark.png">
                                <img src="x-mark.png">
                            </div>
                        </div>

                        <div class="review-rating-container">
                            <div class="review-rating">
                                4.5/5
                            </div>
                            <div class="review-star-img">
                                <img src="star.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class ="user-review">
                <div class="flex">
                    <div class ="user-review-container">
                        <div class ="review-title-container">
                            <div class="review-title">
                                <b>Addicting!</b>
                            </div>

                            <div class="review-hyperlink">
                                to <a href="resto-view-page_5.html">Krispy Kreme</a>
                            </div>
                        </div>

                        <div class ="review-description">
                            Krispy Kreme's coffee is the perfect pick-me-up to accompany their doughnuts. It's smooth, rich, and pairs perfectly with any sweet treat on their menu. Their coffee adds an extra layer of satisfaction to every visit. Highly recommended for coffee lovers!
                        </div>

                        <div class="review-feedback-container">
                            <div class="review-feedback-text">
                                Is this review helpful?
                            </div>

                            <div class="review-feedback-buttons">
                                <img src="checkmark.png">
                                <img src="x-mark.png">
                            </div>
                        </div>

                        <div class="review-rating-container">
                            <div class="review-rating">
                                4.5/5
                            </div>
                            <div class="review-star-img">
                                <img src="star.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
   </div>
</body>