<!DOCTYPE html>

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>reviewpanda</title>
        <link rel="shortcut icon" href="img/logo.png" type="image/x-icon">
        <link rel = "stylesheet" href="style.css">
    </head>

<body>
    <nav>
        <div class="flex flex-center space-between">
            <div class="flex flex-center logo-main-container">
                <div class="logo-container-home">
                    <img src="img/logo.png" alt="logo" class="logo">
                </div>
                <div>
                    <p class="logo-name">reviewpanda</p>
                </div>
            </div>
            <div class="flex">
                <input type="text" font-family ="BananaGroteskRegular" class="search-bar" placeholder="Search...">
                <img width="50" height="50" src="https://img.icons8.com/ios-filled/50/ffffff/search--v1.png"
                    alt="search--v1" class="search-btn" />
            </div>
            <div class="dropdown">
                <div class="flex user-dropdown">
                    <span>chaiestrella</span>
                    <img width="30" height="30" src="https://img.icons8.com/ios-filled/30/ffffff/chevron-down.png"
                        alt="chevron-down" />
                </div>
                <div class="dropdown-content">
                    <div class="dropdown-items">
                        <a class="dropdown-link" href="home.html">Home</a>
                        <hr>
                        <a class="dropdown-link" href="profile-view-page_1.html">Profile</a>
                        <hr>
                        <a class="dropdown-link" href="login.html">Logout</a>
                    </div>
                </div>
            </div>

        </div>
    </nav>

    <div class = "body">
        <div class = "body-container">
            <div class = "resto-profile">
                <div class = "flex">
                        <div class = "resto-img-container">
                            <div class = "resto-img">
                                <img src = "tapa.png"/>
                            </div>
                        </div>
                        <div class="resto-profile-desc">
                            <div class="resto-name">
                                <b>Tapa King</b>
                            </div>
                            <div class= "resto-location">
                                Street, City, Municipality, Country
                            </div>
                            <div class = "resto-description">
                                Tapa King reigns supreme with its mouthwatering array of Filipino comfort food, centered around its iconic beef tapa. Tender, marinated beef slices are served alongside garlic rice and a choice of egg, creating a hearty and satisfying meal. With each bite, Tapa King delivers a taste of Filipino home-cooked goodness that keeps customers coming back for more.
                            </div>
                            <div class = "resto-keywords">
                                Keywords: Filter1, Filter3.
                            </div>
                            <div class = "add-review-btn">
                                <button type="button">Add Review</button>  
                            </div>
                        </div>
                </div>
            </div>
            <div class = "divider">
                <div class = "flex">
                </div>
            </div>
                    <div class = "resto-review">
                        <div class="flex">
                            <div class = "resto-review-container">
                                <div class = "review-title-container">
                                    <div class = "review-title">
                                        <b>Delightful!</b>
                                    </div>
                                    <div class="review-hyperlink">
                                        by <a href="profile-view-page_2.html">andreevangelista</a>
                                    </div>
                                </div>
                                <div class = "review-description">
                                    Tapa King's beef tapa is a true taste of home! The rich marinade infuses every bite with irresistible flavor, and paired with garlic rice and a runny egg, it's comfort food at its finest. Generous portions and friendly service make every visit a delight!
                                </div>
    
                                <div class = "review-feedback-container">
                                    <div class = "review-feedback-text">
                                        Is this review helpful?        
                                    </div>
    
                                    <div class="review-feedback-buttons">
                                        <img src="img/checkmark.png"/>
                                        <img src="img/x-mark.png"/>
                                    </div>
                                </div>
    
                                <div class="review-rating-container">
                                    <div class="review-rating">
                                    4.5/5
                                    </div>
                                    <div class = "review-star-img">
                                        <img src = "img/star.png"/>
                                    </div>
                                </div>
                            </div>
                        </div>            
                    </div>
                    <div class = "resto-review">
                        <div class="flex">
                            <div class = "resto-review-container">
                                <div class = "review-title-container">
                                    <div class = "review-title">
                                        <b>So cool!!!</b>
                                    </div>
                                    <div class="review-hyperlink">
                                        by <a href="profile-view-page_3.html">aaronabaniel</a>
                                    </div>
                                </div>
                                <div class = "review-description">
                                    Tapa King's food is a flavorful journey through Filipino comfort cuisine. The beef tapa is tender and well-marinated, paired perfectly with garlic rice and a sunny-side-up egg. Generous portions and affordable prices make it a go-to spot for a satisfying meal that feels like home. Highly recommended!
                                </div>
    
                                <div class = "review-feedback-container">
                                    <div class = "review-feedback-text">
                                        Is this review helpful?        
                                    </div>
    
                                    <div class="review-feedback-buttons">
                                        <img src="img/checkmark.png"/>
                                        <img src="img/x-mark.png"/>
                                    </div>
                                </div>
    
                                <div class="review-rating-container">
                                    <div class="review-rating">
                                        5/5
                                    </div>
                                    <div class = "review-star-img">
                                        <img src = "img/star.png"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</body>