<!DOCTYPE html>

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>reviewpanda</title>
        <link rel="shortcut icon" href="img/logo.png" type="image/x-icon">
        <link rel = "stylesheet" href="style.css">
    </head>

<body>
    <nav>
        <div class="flex flex-center space-between">
            <div class="flex flex-center logo-main-container">
                <div class="logo-container-home">
                    <img src="img/logo.png" alt="logo" class="logo">
                </div>
                <div>
                    <p class="logo-name">reviewpanda</p>
                </div>
            </div>
            <div class="flex">
                <input type="text" font-family ="BananaGroteskRegular" class="search-bar" placeholder="Search...">
                <img width="50" height="50" src="https://img.icons8.com/ios-filled/50/ffffff/search--v1.png"
                    alt="search--v1" class="search-btn" />
            </div>
            <div class="dropdown">
                <div class="flex user-dropdown">
                    <span>chaiestrella</span>
                    <img width="30" height="30" src="https://img.icons8.com/ios-filled/30/ffffff/chevron-down.png"
                        alt="chevron-down" />
                </div>
                <div class="dropdown-content">
                    <div class="dropdown-items">
                        <a class="dropdown-link" href="home.html">Home</a>
                        <hr>
                        <a class="dropdown-link" href="profile-view-page_1.html">Profile</a>
                        <hr>
                        <a class="dropdown-link" href="login.html">Logout</a>
                    </div>
                </div>
            </div>

        </div>
    </nav>

    <div class = "body">
        <div class = "body-container">
            <div class = "resto-profile">
                <div class = "flex">
                        <div class = "resto-img-container">
                            <div class = "resto-img">
                                <img src = "kk.png"/>
                            </div>
                        </div>
                        <div class="resto-profile-desc">
                            <div class="resto-name">
                                <b>Krispy Kreme</b>
                            </div>
                            <div class= "resto-location">
                                Street, City, Municipality, Country
                            </div>
                            <div class = "resto-description">
                                Krispy Kreme delights doughnut enthusiasts worldwide with its iconic Original Glazed doughnuts, boasting a perfect balance of lightness and sweetness. From classic flavors like chocolate glazed to innovative creations like filled doughnuts and seasonal varieties, each bite is a heavenly indulgence that satisfies cravings and brings joy to taste buds everywhere.
                            </div>
                            <div class = "resto-keywords">
                                Keywords: Filter1, Filter3.
                            </div>
                            <div class = "add-review-btn">
                                <button type="button">Add Review</button>  
                            </div>
                        </div>
                </div>
            </div>
            <div class = "divider">
                <div class = "flex">
                </div>
            </div>
                <div class = "resto-review">
                    <div class="flex">
                        <div class = "resto-review-container">
                            <div class = "review-title-container">
                                <div class = "review-title">
                                    <b>5 Stars!!!</b>
                                </div>
                                <div class="review-hyperlink">
                                    by <a href="profile-view-page_4.html">juliannamagabo</a>
                                </div>
                            </div>
                            <div class = "review-description">
                                Krispy Kreme never disappoints! Their Original Glazed doughnuts are pure bliss - fluffy, light, and just the right amount of sweetness. The variety of flavors keeps me coming back for more, and their consistency in quality always impresses. Simply delicious!
                            </div>

                            <div class = "review-feedback-container">
                                <div class = "review-feedback-text">
                                    Is this review helpful?        
                                </div>

                                <div class="review-feedback-buttons">
                                    <img src="img/checkmark.png"/>
                                    <img src="img/x-mark.png"/>
                                </div>
                            </div>

                            <div class="review-rating-container">
                                <div class="review-rating">
                                    5/5
                                </div>
                                <div class = "review-star-img">
                                    <img src = "img/star.png"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class = "resto-review">
                        <div class="flex">
                            <div class = "resto-review-container">
                                <div class = "review-title-container">
                                    <div class = "review-title">
                                        <b>Addicting!</b>
                                    </div>
                                    <div class="review-hyperlink">
                                        by <a href="profile-view-page_5.html">louislu</a>
                                    </div>
                                </div>
                                <div class = "review-description">
                                    Krispy Kreme's coffee is the perfect pick-me-up to accompany their doughnuts. It's smooth, rich, and pairs perfectly with any sweet treat on their menu. Their coffee adds an extra layer of satisfaction to every visit. Highly recommended for coffee lovers!
                                </div>
    
                                <div class = "review-feedback-container">
                                    <div class = "review-feedback-text">
                                        Is this review helpful?        
                                    </div>
    
                                    <div class="review-feedback-buttons">
                                        <img src="img/checkmark.png"/>
                                        <img src="img/x-mark.png"/>
                                    </div>
                                </div>
    
                                <div class="review-rating-container">
                                    <div class="review-rating">
                                    4.5/5
                                    </div>
                                    <div class = "review-star-img">
                                        <img src = "img/star.png"/>
                                    </div>
                                </div>
                            </div>
                        </div>            
                </div>
            </div>
        </div>
    </div>
</body>